body{
    height: 1716px;
    width: 1440px;
}
.Main-container{
    width: 100vw;
    height: 15vh;
    font-family: Epilogue;
}
.Logo{
    position: relative;
    right: -30px;
    top: 30px;
    width: 78.41px;
    height: 24.8px;
    
}
.Hero-portrait{
    position: relative;
    top: -300px;
    right: -150px;
    z-index: 1;
    width: 350px;
    height: 600px;
}

.Curve1{
    width: 287px;
    height: 36px;
    position: relative;
    top: 170px;
    right: -250px;
    z-index: 2;
}
h1{
    width: 635px;
    height: 156px;
    font-size: 50px;
    position: relative;
    top: 150px;
    right: -150px;
    z-index: 3;
}
h2{
font-size: 48px;
}
#companies{
padding: 1em;
line-height: 0.5em;
}
#languages{
padding: 1em;
line-height: 0.5em;
}
#leads{
padding: 1em;
line-height: 0.5em;
}
#company{
text-transform: uppercase;
}
#language{
    text-transform: uppercase;
}
#lead{
    text-transform: uppercase;
}
.Access1{
    position: relative;
    right: -800px;
    top: 10px;
    width: 256px;
    height: 61px;
}
.Button1{
    position: relative;
    right: -110px;
    width: 256px;
    height: 61px;
    color: black;
    background-color:white;
    cursor: pointer;
}
.Button1:hover{
    background-color: #020230;
    color: white;
}
.Button2{
    width: 256px;
    height: 61px;
    color: white;
    background-color: #020230;
    cursor: pointer;
}
.Button2:hover{
    background-color:#A060FF;
}
.Hero-text{
    padding: 25px 20px;
    max-width: 350px;
    height: 96px;
    position: relative;
    top: 100px;
    right: -130px;
    line-height: 2em;
}
.Section-one{
    text-align: justify;
}
.Access2{
    width: 219px;
    height: 56px;
    margin: 25px 20px;
    padding: 10px;
    position: relative;
    top: -450px;
    right: -120px;
}
aside{
    width: 50%;
    margin: auto;
    text-align: center;
}
ul{
    list-style-type: none;
    position: relative;
    right: -250px;
    top: -900px;
}
.Jeremy-image{
    position: relative;
    width: 359.81px;
    height: 589.56px;
    left: 100px;
    top: -291px;
    z-index: 3;
}
.Pattern-blur{
    position: relative;
    top: -220px;
    right: 360px;
    z-index: 2;
}


blockquote{
    background-color: #020230;
    position: relative;
    top: -900px;
    right: -4px;
    width: 1109px;
    height: 589.56px;
    text-align: center;
    border-radius: 20px;

}
.Curve-two{
    position: relative;
    top: 200px;
    left: -80px;
}
.Note1{
    width: 299px;
    height: 56px;
    font-size: 46px;
    z-index: 4;
    position: relative;
    right: -620px;
    bottom: -50px;
    border: 5px;
    text-align: center;
    color: white;
}
.Note2{
    width: 350px;
    height: 175px;
    font-size: 20px;
    z-index: 4;
    line-height: 1.5em;
    position: relative;
    right: -590px;
    bottom: -50px;
    border: 5px;
    text-align: justify;
    color: white;
}

figcaption{
    position: relative;
    right: -150px;
    bottom: -70px;
    color: white;
    text-transform: uppercase;
}

.Footer-ul{
    display: flex;
    position: relative;
    align-items: center;
    padding: 5em;
}
.Section-three{
    position: absolute;
    z-index: 3;
}
.Footer-logo{
    position: relative;
    left:-300px;
}
.Copyright{
    position: relative;
    right: -100px;
}
#facebook-logo{
position: relative;
padding: 1em;
right: -500px;
cursor: pointer;
}
#twitter-logo{
position: relative;
padding: 1em;
right: -500px;
}
#instagram-logo{
position: relative;
padding: 1em;
right: -500px;
}
