
.main-container{
    font-family: Epilogue;
}
.Logo{
    position: relative;
    right: -110px;
    top: 30px;
    width: 78.41px;
    height: 24.8px;
    
}
.Hero-portrait{
    position: relative;
    top: 150px;
    right: 137px;
    z-index: 1;
    width: 343px;
    height: 240px;
}

.Curve1{
    position: relative;
    top: 130px;
    right: -220px;
    z-index: 2;
}
.Curve-one{
position: relative;
width: 151.47px;
height: 19px;
right: -40px;
}
h1{
    width: 343px;
    height: 89px;
    font-size: 38px;
    position: relative;
    top: 110px;
    right: -110px;
    z-index: 3;
}
h2{
font-size: 48px;
}
#portrait-list{
    width: 344px;
    height: 313px;
}
#companies{
position: relative;
bottom: -500px;
right: 550px;
padding: 1em;
line-height: 0.5em;
}
#languages{
position: relative;
bottom: -500px;
right: 550px;
padding: 1em;
line-height: 0.5em;
}
#leads{
position: relative;
bottom: -500px;
right: 550px;
padding: 1em;
line-height: 0.5em;
}
#company{
text-transform: uppercase;
}
#language{
    text-transform: uppercase;
}
#lead{
    text-transform: uppercase;
}
.Access1{
    position: relative;
    right: -210px;
    top: 0;
    width: 256px;
    height: 61px;
}
.Button1{
    position: relative;
    right: -210px;
    width: 182px;
    height: 48px;
    color: black;
    background-color:white;
}

.Button2{
    position: relative;
    width: 182px;
    height: 48px;
    bottom: -300px;
    right: -50px;
    color: white;
    background-color: #020230;
    cursor: pointer;
}

.Hero-text{
    padding: 25px 20px;
    max-width: 343px;
    height: 84px;
    font-size: 16px;
    position: relative;
    top: 70px;
    left: 90px;
    line-height: 2em;
}
.Section-one{
    text-align: justify;
}
.Access2{
    width: 219px;
    height: 56px;
    margin: 25px 20px;
    padding: 10px;
    position: relative;
    font-size: 16px;
    bottom: -70px;
    right: -31px;
}
aside{
    width: 50%;
    margin: auto;
    text-align: center;
}
ul{
    list-style-type: none;
    position: relative;
    top: -350px;
}
.Jeremy-image{
    position: relative;
    width: 252px;
    height: 402px;
    left: 185px;
    top: 275px;
    z-index: 3;
}
.Pattern-blur{
    position: relative;
    width: 417px;
    height: 417px;
    top: 350px;
    right: 150px;
    z-index: 2;
}


blockquote{
    background-color: #020230;
    position: relative;
    top: 20px;
    left: 75px;
    width: 375px;
    height: 748px;
    text-align: center;
    border-radius: 20px;

}
.Curve-two{
    width: 49.27px;
    position: relative;
    top: 250px;
    left: -10px;
}
.Note1{
    height: 48px;
    font-size: 40px;
    z-index: 4;
    position: relative;
    bottom: -245px;
    left: 33px;
    color: white;
}
.Note2{
    width: 343px;
    height: 160px;
    font-size: 18px;
    z-index: 4;
    line-height: 1.5em;
    position: relative;
    bottom: -260px;
    left: 13px;
    color: white;
}

figcaption{
    position: relative;
    bottom: -320px;
    right: 10px;
    color: white;
    text-transform: uppercase;
}

.Footer-ul{
    display: flex;
    position: relative;
    top: -50px;
    align-items: center;
    padding: 5em;
}
.Section-three{
    position: absolute;
    z-index: 3;
}
.Footer-logo{
    position: relative;
    top: -25px;
    width: 81px;
    height: 32px;
    font-size: 32px;
    left: -70px;
}
.Copyright{
    width: 125px;
    height: 32px;
    position: relative;
    bottom: -30px;
    left: -160px;
    font-size: 15px;
}
#facebook-logo{
position: relative;
padding: 1.3em;
bottom: -70px;
left: -310px;
cursor: pointer;
}
#twitter-logo{
position: relative;
bottom: -70px;
padding: 1.3em;
left: -310px;
}
#instagram-logo{
position: relative;
bottom: -70px;
padding: 1.3em;
left: -310px;
}
