
.Main-container{
    font-family: Epilogue;
}
.Logo{
    position: relative;
    right: -160px;
    top: 30px;
    width: 78.41px;
    height: 24.8px;
    
}
.Hero-portrait{
    position: relative;
    top: -300px;
    right: -290px;
    z-index: 1;
    width: 281px;
    height: 482px;
}

.Curve1{
    width: 231.19px;
    height: 29px;
    position: relative;
    top: 170px;
    right: -370px;
    z-index: 2;
}
h1{
    width: 635px;
    height: 156px;
    font-size: 56px;
    position: relative;
    top: 150px;
    right: -183px;
    z-index: 3;
}
h2{
font-size: 48px;
}
#companies{
position: relative;
right: 400px;
padding: 1em;
line-height: 0.5em;
}
#languages{
position: relative;
right: 315px;
padding: 1em;
line-height: 0.5em;
}
#leads{
position: relative;
right: 235px;
padding: 1em;
line-height: 0.5em;
}
#company{
text-transform: uppercase;
}
#language{
    text-transform: uppercase;
}
#lead{
    text-transform: uppercase;
}
.Access1{
    position: relative;
    right: -527px;
    top: 10px;
    width: 256px;
    height: 61px;
}
.Button1{
    position: relative;
    right: -110px;
    width: 256px;
    height: 61px;
    color: black;
    background-color:white;
    cursor: pointer;
}
.Button1:hover{
    background-color: #020230;
    color: white;
}
.Button2{
    width: 256px;
    height: 61px;
    color: white;
    background-color: #020230;
    cursor: pointer;
}
.Button2:hover{
    background-color:#A060FF;
}
.Hero-text{
    padding: 25px 20px;
    max-width: 350px;
    height: 96px;
    position: relative;
    top: 100px;
    right: -130px;
    line-height: 2em;
}

.Section-one{
    text-align: justify;
}
.Access2{
    width: 219px;
    height: 56px;
    margin: 25px 20px;
    padding: 10px;
    position: relative;
    font-size: 16px;
    top: -350px;
    right: -120px;
}
aside{
    width: 50%;
    margin: auto;
    text-align: center;
}
ul{
    list-style-type: none;
    position: relative;
    display: flex;
    top: -350px;
}
.Jeremy-image{
    position: relative;
    width: 252px;
    height: 402px;
    left: 425px;
    top: -355px;
    z-index: 3;
}
.Pattern-blur{
    position: relative;
    width: 417px;
    height: 417px;
    top: -270px;
    right: -95px;
    z-index: 2;
}


blockquote{
    background-color: #020230;
    position: relative;
    top: -600px;
    right: -164px;
    width: 689px;
    height: 684px;
    text-align: center;
    border-radius: 20px;

}
.Curve-two{
    width: 49.27px;
    position: relative;
    top: 250px;
    left: -10px;
}
.Note1{
    height: 48px;
    font-size: 40px;
    z-index: 4;
    position: relative;
    bottom: -235px;
    right: -210px;
    color: white;
}
.Note2{
    height: 96px;
    width: 573px;
    font-size: 18px;
    z-index: 4;
    line-height: 2em;
    position: relative;
    bottom: -245px;
    right: -65px;
    color: white;
}

figcaption{
    position: relative;
    bottom: -320px;
    right: -3px;
    color: white;
    text-transform: uppercase;
}

.Footer-ul{
    display: flex;
    position: relative;
    top: -650px;
    right: 20px;
    align-items: center;
    padding: 5em;
}
.Section-three{
    position: absolute;
    z-index: 3;
}
.Footer-logo{
    position: relative;
    left: 78px;
}
.Copyright{
    width: 125px;
    position: relative;
    right: -350px;
}
#facebook-logo{
position: relative;
padding: 1em;
right: -540px;
cursor: pointer;
}
#twitter-logo{
position: relative;
padding: 1em;
right: -540px;
}
#instagram-logo{
position: relative;
padding: 1em;
right: -540px;
}
